<h1 class="text-2xl font-montserrat font-bold text-primary text-center mb-2">
  LOGIN
</h1>

<form
  class="flex flex-col gap-3"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <label class="input validator">
    <i class="bi bi-envelope opacity-30"></i>
    <input
      type="email"
      placeholder="mail@site.com"
      required
      formControlName="email"
    />
  </label>

  <div class="join">
    <div class="w-full">
      <label class="input validator join-item">
        <i class="bi bi-key opacity-10"></i>
        <input
          [type]="type"
          placeholder="password"
          required
          formControlName="password"
        />
      </label>
    </div>
    <a class="btn btn-neutral join-item" type="button" (click)="showPassword()">
      <i [class]="icon"></i>
    </a>
  </div>

  <button class="btn btn-secondary" type="submit">LOGIN</button>
</form>

<!-- Mostrar error si hasError está activo -->
<div
  role="alert"
  class="alert alert-error fixed bottom-5 right-5 w-80"
  [class.hidden]="!hasError()"
>
  <i class="bi bi-x-circle"></i>
  <span>Error! Verifique la información</span>
</div>
