<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl">KOtA</a>
  </div>
  <div class="navbar-end">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <i class="bi bi-list"></i>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-19 p-2 shadow items-center"
      >
        <li><a>Home</a></li>
      </ul>
    </div>
    <a class="btn btn-secondary lg:hidden" [routerLink]="['/auth/login']"
      ><i class="bi bi-box-arrow-right"></i>LOGIN</a
    >
    <ul class="menu menu-horizontal items-center px-1 hidden lg:flex gap-2">
      <li><a>HOME</a></li>
      @if (authService.authStatus() === 'authenticated') {
      <li>
        <a class="btn btn-info" (click)="authService.logout()"
          ><i class="bi bi-box-arrow-left"></i>LOGout</a
        >
      </li>
      }@else {
      <li>
        <a class="btn btn-secondary" [routerLink]="['/auth/login']"
          ><i class="bi bi-box-arrow-right"></i>LOGIN
        </a>
      </li>
      }
    </ul>
  </div>
</div>
